<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <ApplicationContext isBidirectional="false" />
        </behavior>
        <behavior name="NoApplicationContextBehavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ApplicationContext" type="FengSharp.OneCardAccess.Infrastructure.ApplicationContextBehaviorElement, FengSharp.OneCardAccess.Infrastructure"/>
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="http://localhost:2015/AuthService.svc" binding="basicHttpBinding"
        bindingConfiguration="" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IAuthService"
        name="AuthService" kind="" behaviorConfiguration="NoApplicationContextBehavior"/>
      <endpoint address="http://localhost:2015/AccessService.svc" binding="basicHttpBinding"
        bindingConfiguration="" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IAccessService"
        name="AccessService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/MenuService.svc" binding="basicHttpBinding"
        bindingConfiguration="" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IMenuService"
        name="MenuService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/ActionService.svc" binding="basicHttpBinding"
        bindingConfiguration="" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IActionService"
        name="ActionService" kind="" behaviorConfiguration="DefaultBehavior" />
    </client>
  </system.serviceModel>
</configuration>