<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyBehavior">
          <session />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="session" type="FengSharp.OneCardAccess.Infrastructure.Session_Policy.SessionClientBehaviorElement, FengSharp.OneCardAccess.Infrastructure"/>
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="http://localhost:2015/AuthService.svc" binding="basicHttpBinding"
        bindingConfiguration="" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IAuthService"
        name="AuthService" kind="" behaviorConfiguration="MyBehavior"/>
      <endpoint address="http://localhost:2015/AccessService.svc" binding="basicHttpBinding"
        bindingConfiguration="" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IAccessService"
        name="AccessService" kind="" behaviorConfiguration="MyBehavior" />
      <endpoint address="http://localhost:2015/MenuService.svc" binding="basicHttpBinding"
        bindingConfiguration="" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IMenuService"
        name="MenuService" kind="" behaviorConfiguration="MyBehavior" />
      <endpoint address="http://localhost:2015/ActionService.svc" binding="basicHttpBinding"
        bindingConfiguration="" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IActionService"
        name="ActionService" kind="" behaviorConfiguration="MyBehavior" />
    </client>
  </system.serviceModel>
</configuration>