<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <ApplicationContext isBidirectional="false" />
          <ExceptionHandling />
        </behavior>
        <behavior name="NoApplicationContextBehavior">
          <ExceptionHandling />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ApplicationContext" type="FengSharp.OneCardAccess.Infrastructure.ApplicationContextBehaviorElement, FengSharp.OneCardAccess.Infrastructure" />
        <add name="ExceptionHandling" type="FengSharp.OneCardAccess.Infrastructure.ExceptionHandlingBehaviorElement, FengSharp.OneCardAccess.Infrastructure" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="GZipEncoder.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding receiveTimeout="00:05:00" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding receiveTimeout="00:05:00" />
      </wsHttpBinding>
      <customBinding>
        <binding receiveTimeout="00:05:00">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <httpTransport manualAddressing="false"
                         authenticationScheme="Anonymous"
                         bypassProxyOnLocal="false"
                         hostNameComparisonMode="StrongWildcard"
                         proxyAuthenticationScheme="Anonymous"
                         realm=""
                         useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1/AuthService.svc" binding="customBinding" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IAuthService" name="AuthService" behaviorConfiguration="NoApplicationContextBehavior" />
      <endpoint address="http://127.0.0.1/AccessService.svc" binding="customBinding" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IAccessService" name="AccessService" />
      <endpoint address="http://127.0.0.1/MenuService.svc" binding="customBinding" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IMenuService" name="MenuService" />
      <endpoint address="http://127.0.0.1/ActionService.svc" binding="customBinding" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IActionService" name="ActionService" />
    </client>
  </system.serviceModel>
</configuration>