<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <appSettings>
    <add key="PluginsPath" value=".\plugins" />
    <add key="AttachmentPath" value="http://localhost:2015/Attachment" />
    <add key="EmployeePhotoPath" value="EmployeePhoto" />
    <add key="EmployeeAttachmentPath" value="EmployeeAttachmentPath" />
    <add key="FileUpLoadHandler" value="http://localhost:2015/UpLoadHandler.ashx" />
    <add key="FileUpLoadTimeout" value="300000" />
    <add key="RegisterFilePath" value="RegisterFile" />
    <add key="RegisterAttachmentPath" value="RegisterAttachment" />
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Microsoft.Practices.Unity.Interception.Configuration" />
    <assembly name="一卡通管理系统" />
    <namespace name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.MainStruct" />
    <assembly name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.MainStruct.Interface" />
    <namespace name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.MainStruct.Interface" />

    <assembly name="FengSharp.OneCardAccess.Infrastructure" />
    <namespace name="FengSharp.OneCardAccess.Infrastructure" />

    <assembly name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.HR" />
    <namespace name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.HR" />
    <assembly name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.HR.Interface" />
    <namespace name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.HR.Interface" />

    <assembly name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.BSS" />
    <namespace name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.BSS" />
    <assembly name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.BSS.Interface" />
    <namespace name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.BSS.Interface" />

    <assembly name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.SystemSet" />
    <namespace name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.SystemSet" />
    <assembly name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.SystemSet.Interface" />
    <namespace name="FengSharp.OneCardAccess.Presentation.IntegeatedManage.SystemSet.Interface" />
    <container name="PlugContainer">
      <extension type="Interception" />
      <interception>
      </interception>
      <register type="IMainForm" mapTo="MainForm">
        <lifetime type="singleton" />
        <interceptor isDefaultForType="true" type="InterfaceInterceptor" />
        <policyInjection />
      </register>
      <register type="ITimeOutLogin" mapTo="LoginForm">
        <lifetime type="singleton" />
        <interceptor isDefaultForType="true" type="InterfaceInterceptor" />
        <policyInjection />
      </register>
      <register type="ILogin" mapTo="LoginForm">
        <lifetime type="singleton" />
        <interceptor isDefaultForType="true" type="InterfaceInterceptor" />
        <policyInjection />
      </register>
      <register name="SingleDeptControlSelect" type="ISingleDeptSelect" mapTo="DeptSelectPopupContainerControl">
        <!--<interceptor isDefaultForType="true" type="InterfaceInterceptor"/>-->
        <!--<policyInjection />-->
        <constructor>
          <param name="isMulSelect" type="bool" value="false">
          </param>
          <param name="isCateCanSelect" type="bool" value="false">
          </param>
        </constructor>
      </register>

      <register name="SingleRegisterControlSelect" type="ISingleRegisterSelect" mapTo="RegisterSelectPopupContainerControl">
      </register>

      <register name="SingleDlyTypeFormSelect" type="ISingleDlyTypeSelect" mapTo="DlyTypeSelectForm">
        <constructor>
          <param name="isCateCanSelect" type="bool" value="false">
          </param>
        </constructor>
      </register>

      <register name="MultiUserSelectForm" type="IMultiUserSelect" mapTo="UserSelectForm">
        <constructor>
          <param name="isMulSelect" type="bool" value="false">
          </param>
        </constructor>
      </register>

      <register name="SingleUserSelectForm" type="ISingleUserSelect" mapTo="UserSelectForm">
        <constructor>
          <param name="isMulSelect" type="bool" value="true">
          </param>
        </constructor>
      </register>

      <register name="SingleEmployeeControlSelect" type="ISingleEmployeeSelect" mapTo="EmployeeSelectPopupContainerControl">
        <constructor>
          <param name="isMulSelect" type="bool" value="false">
          </param>
        </constructor>
      </register>

      <register name="SingleStockControlSelect" type="ISingleStockSelect" mapTo="StockSelectPopupContainerControl">
        <constructor>
          <param name="isMulSelect" type="bool" value="false">
          </param>
        </constructor>
      </register>

      <register name="SingleProductControlSelect" type="ISingleProductSelect" mapTo="ProductSelectPopupContainerControl">
        <constructor>
          <param name="isMulSelect" type="bool" value="false">
          </param>
          <param name="isCateCanSelect" type="bool" value="false">
          </param>
        </constructor>
      </register>

      <register name="SingleProductPriceControlSelect" type="ISingleProductPriceSelect" mapTo="ProductPriceSelectPopupContainerControl">
      </register>
      <register name="ProductFBNInput" type="IProductFBNInput" mapTo="ProductFBNInputPopupContainerControl">
      </register>
      <register name="ProductSNInput" type="IProductSNInput" mapTo="ProductSNInputPopupContainerControl">
      </register>
      <register name="PFBNSNRule" type="IPFBNSNRule" mapTo="PFBNSNRule">
      </register>
    </container>
  </unity>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <ApplicationContext isBidirectional="false" />
          <ExceptionHandling />
        </behavior>
        <behavior name="NoApplicationContextBehavior">
          <ExceptionHandling />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ApplicationContext" type="FengSharp.OneCardAccess.Infrastructure.ApplicationContextBehaviorElement, FengSharp.OneCardAccess.Infrastructure" />
        <add name="ExceptionHandling" type="FengSharp.OneCardAccess.Infrastructure.ExceptionHandlingBehaviorElement, FengSharp.OneCardAccess.Infrastructure" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBasicHttpBinding" receiveTimeout="00:05:00" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="DefaultwsHttpBinding" receiveTimeout="00:05:00" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2015/AuthService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IAuthService" name="AuthService" kind="" behaviorConfiguration="NoApplicationContextBehavior" />
      <endpoint address="http://localhost:2015/AccessService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IAccessService" name="AccessService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/MenuService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IMenuService" name="MenuService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/ActionService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IActionService" name="ActionService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/UserService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IUserService" name="UserService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/RoleService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.RBACModule.Service.Interface.IRoleService" name="RoleService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/DeptService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.HRModule.Service.Interface.IDeptService" name="DeptService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/EmployeeService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.HRModule.Service.Interface.IEmployeeService" name="EmployeeService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/DicDataService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Infrastructure.Services.Interface.IDicDataService" name="DicDataService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/ProductService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.BSSModule.Service.Interface.IProductService" name="ProductService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/RegisterService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.BSSModule.Service.Interface.IRegisterService" name="RegisterService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/RawMateService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.BSSModule.Service.Interface.IRawMateService" name="RawMateService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/StockService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.BSSModule.Service.Interface.IStockService" name="StockService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/DlyTypeService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.BSSModule.Service.Interface.IDlyTypeService" name="DlyTypeService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/InputLevelService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.BSSModule.Service.Interface.IInputLevelService" name="InputLevelService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/CompanyService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.CRMModule.Service.Interface.ICompanyService" name="CompanyService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/DlyNdxService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.BSSModule.Service.Interface.IDlyNdxService" name="DlyNdxService" kind="" behaviorConfiguration="DefaultBehavior" />
      <endpoint address="http://localhost:2015/PFBNSNRuleService.svc" binding="wsHttpBinding" bindingConfiguration="DefaultwsHttpBinding" contract="FengSharp.OneCardAccess.Domain.BSSModule.Service.Interface.IPFBNSNRuleService" name="PFBNSNRuleService" kind="" behaviorConfiguration="DefaultBehavior" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="Lib;" />
    </assemblyBinding>
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>