<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SZKL-ZRF>
    <IgnoreVsHosting>True</IgnoreVsHosting>
    <CompareSize>False</CompareSize>
    <BaseURL>http://www.kangli.com/Update</BaseURL>
    <IgnoreDebugSymbols>True</IgnoreDebugSymbols>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" /&gt;</IgnoreFiles>
    <CopyFiles>True</CopyFiles>
    <CompareVersion>True</CompareVersion>
    <OutputFolder>D:\Work\Project\MyProject\OneCardAccess\Publish\IntegratedManageClient</OutputFolder>
    <CompareHash>True</CompareHash>
    <CompareDate>False</CompareDate>
    <FeedXML>D:\Work\Project\MyProject\OneCardAccess\Application.IntegeatedManageServer\Update\SampleUpdateFeed.xml</FeedXML>
  </SZKL-ZRF>
</Settings>